/***********************************************************
Custom component classes, needs to be added before utilities
Note that this isn't plain css, requires postcss processing
 ***********************************************************/

/* override default fonts to use expanded list configured in tailwind.config.js */
html {
	@apply font-sans;
}

/* default link colors */
a {
	@apply text-blue-600;
	&:hover {
		@apply text-blue-400 underline;
	}
	&:visited {
		@apply text-purple-600;
	}
	&:visited:hover {
		@apply text-purple-400;
	}
}

/* default inputs */
input[type=text], input[type=password], input[type=email] {
	@apply border border-gray-500 rounded p-2;
}

/* default tables */
table caption {
	@apply invisible;
}

/* spacing for the entire page */
.pagePadding {
	@apply px-2 py-1;
}
@screen md {
	.pagePadding {
		@apply p-4;
	}
}

/* buttons */
.btnRegular, .btnPrimary {
	@apply font-bold py-1 px-2 rounded border border-blue-700; 
	&:hover {
		@apply border-blue-500;
	}
}

.btnRegular {
	@apply text-blue-700;
	&:hover {
		@apply shadow text-blue-500;
	}
	&:active {
		@apply bg-blue-500 text-white
	}
}

.btnPrimary {
	@apply bg-blue-700 text-white shadow-md;
	&:hover {
		@apply bg-blue-500 text-white shadow-lg;
	}
	&:active {
		@apply bg-white text-blue-500;
	}
}

/* forms */
.formVertical {
	& input, & label {
		@apply block;
	}
	& input {
		@apply my-1;
	}
	& label {
		@apply mt-3 mb-1;
	}
	& legend {
		@apply mt-4 text-gray-600;
	}
}
