# main framework
fastapi
# fast python server used by fastapi
uvicorn
# uvicorn optional component, gives a warning if not installed
email-validator

# for reading yaml config files, e.g.: config/logging.yml
PyYAML

# requirements.txt management
pip-tools

# sql database
sqlalchemy
# postgres driver for sqlalchemy, this is the non-async driver used by alembic
psycopg2
# database migrations
alembic
# async support for sqlalchemy (EL only, no ORM)
databases
# postgres async driver for sqlalchemy
databases[postgresql]
